.KategoriHeadline {
  margin: 0 1rem;
}

.Info {
  margin: 0 1rem;
}

button {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 1rem;
  background-color: transparent;
  border: 2px solid black;
}

@media (min-width: 801px) {
  .KategoriHeadline {
    margin: 0 4rem;
  }

  .KategoriGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
  }
}
